@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply bg-gray-bg text-gray-text;
        margin: 0;
        padding: 0;
    }
    
    #root {
        min-height: 100vh;
    }
}