@tailwind base;
@tailwind components;
@tailwind utilities;


/* Small helpers */
html, body, #root {
    height: 100%;
}


/* Example override to ensure background shows */
body {
    @apply bg-gray-bg;
    font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial;
}